<!DOCTYPE html>
<html>
<head>
    <title>Practica 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            height: 100vh;
            margin: 0;
            background-image: url('static/images/fondo.jpg'); 
            background-size: cover;
            background-position: center;
        }
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 56px);
        }
        .container {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 25px;
            border-radius: 15px;
            margin-top: 50px;
            width: 75%; 
            margin-left: auto; 
            margin-right: auto; 
        }
        h2 {
            margin-bottom: 90px; 
        }
        .navbar {
            background-color: rgba(255, 255, 255, 0.8) !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">SUPER AUTOS GT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/agregar">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Agregar Auto</h2>
                <!-- Bloque para mostrar el mensaje de error -->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <!-- Bloque para mostrar el mensaje de éxito -->
                {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
                {% endif %}
                <!-- Fin de los bloques para mostrar los mensajes -->
                <form action="{{url_for('agregar')}}" method="POST">
                    <div class="row">
                        <!-- Columna izquierda -->
                        <div class="col-md-5 ml-n3">
                            <div class="form-group row">
                                <label for="tipo" class="col-sm-2 col-form-label" style="position: relative; left: -50px;">idTipoAuto:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="tipo" name="tipo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="marca" class="col-sm-2 col-form-label" style="position: relative; left: -50px;">Marca:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="marca" name="marca">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modelo" class="col-sm-2 col-form-label" style="position: relative; left: -50px;">Modelo:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="modelo" name="modelo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="precio" class="col-sm-2 col-form-label" style="position: relative; left: -50px;">Precio:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="precio" name="precio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cantidad" class="col-sm-2 col-form-label" style="position: relative; left: -50px;">Cantidad:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cantidad" name="cantidad">
                                </div>
                            </div>
                        </div>
                        <!-- Columna vacía -->
                        <div class="col-md-1"></div>
                        <!-- Columna derecha -->
                        <div class="col-md-6 ml-3">
                            <div class="form-group">
                                <label for="descripcion" style="margin-left: 35px;">Descripción:</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="5" style="width: 125%;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="urlImagen" style="margin-left: 35px;">URL Imagen:</label>
                                <input type="text" class="form-control" id="urlImagen" name="urlImagen" style="width: 125%;">
                            </div>
                        </div>
                    </div>
                    <!-- Botón de registro -->
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>